{%extends "master.html.twig"%}

{% block title %}Article{% endblock %}

{% block content %}
<div class="artHead">
    <b>{{a.title}}</b>
    <br>Posted by {{a.authorName}} on {{a.creationTime}}<br>
    <div class="artBody">{{a.body}}</div>
</div>
    
{% endblock %}
