{%extends "master.html.twig"%}

{% block title %}Login{% endblock %}

{% block content %}
{% if error %}    
    <p class="error">Login credentials invalid</p>
{% endif %}

<form method="post">
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Login">
</form>
{% endblock %}
