<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132749823-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-132749823-1');
        </script>
        <title>{% block title %}{% endblock %} - Slim Blog</title>
        {% block addhead %}        
        {% endblock %}
    </head>
    <body>
        <div id="centeredContent">{% block content %}{% endblock %}
            <div id="header">
                {% if sessionUser %}
                    YOu are logged in as {{sessionUser.email}}, you can
                    <a href="/logout">logout</a> or <a href="/articleadd">post</a>
                {% else %}
                    You can <a href="/login">login</a> or <a href="/register">register</a> 
                {% endif %}
            </div>
            <div id="footer">
                &copy; Copyright 2011 by <a href="http://localhost:8001/">Maia</a>.
            </div>
        </div>
    </body>
</html>