{%extends "master.html.twig"%}

{% block title %}Register{% endblock %}

{% block addhead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("input[name=email]").keyup(function () {
                var email = $("input[name=email]").val();
                $("#emailTaken").load("isemailregistered/" + email);
            });
        });
    </script>
{% endblock %}

{% block content %}

    {% if errorList %}    
        <ul class="error">
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Email: <input type="email" name="email" value="{{v.email}}" >
        <span id="emailTaken" class="error"></span><br>
        Password: <input type="password" name="pass1"><br>
        Password (repeated): <input type="password" name="pass2"><br>    
        <input type="submit" value="Register">
    </form>

{% endblock %}
