{% extends "master.html.twig" %}

{% block title %}Fatal Error{% endblock %}

{% block content %}
    <p>We're very sorry, an internal fatal error occurred.
        Out team of coding ninjas has been notified of the issue.
        <img src="../images/ninja.jpg">
    </p>
{% endblock %}
