{%extends "master.html.twig"%}

{% block title %} - Product{% endblock %}

{% block content %}
    <div class="productView">
        <h3>{{p.name}} for ${{p.price}}</h3>
        <div>{{p.description}}</div>
        <img src="/uploads/{{p.imagePath}}" width="200">
    </div>
{% endblock %}
