{%extends "master.html.twig"%}

{% block title %}Add Product{% endblock %}

{% block content %}

    {% if errorList %}    
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Name: <input type="text" name="name" value="{{v.name}}"><br>
        Description: <textarea name="desc">{{v.desc}}</textarea><br>
        Price: <input type="text" name="price" value="{{v.price}}"><br>
        Image: <input type="file" name="image"><br>
        <input type="submit" value="Add Product">
    </form>

{% endblock %}
