{% extends "master.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if todoList %}    
        <ul>
            {% for item in todoList %}
                <li>{{ item }}</li>
                {% endfor %}
        </ul>
    {% endif %}
{% endblock %}