<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css" />
        <title>{% block title %}{% endblock %} - Slim Todos</title>
        {% block addhead %}        
        {% endblock %}
    </head>
    <body>
        <div id="centeredContent">{% block content %}{% endblock %}
            <div id="footer">
                &copy; Copyright 2019 by <a href="http://localhost:8002/">Maia</a>.
            </div>
        </div>
    </body>
</html>