{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
            {% endfor %}
    </ul>
{% endif%}

<form method="post">
    Name: <input type="text" name="name" value=""><br>
    Age: <input type="number" name="age" value=""><br>
    <input type="submit" value="Add Me"
</form>
