{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
            {% endfor %}
    </ul>
{% endif%}

{% if numList %}
<p>
    {% for num in numList %}
        {{num}},
    {% endfor %}
</p>
{% endif%}

<form method="post">
    Min: <input type="number" name="min" value=""><br>
    Max: <input type="number" name="max" value=""><br>
    Count: <input type="number" name="count" value=""><br>
    <input type="submit" value="Generate"
</form>